

body {

    background-color: rgb(240, 235, 229);
}

.content {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  text-align: center;
    width: 100%;
    margin: 0 auto;
}

.clearfix {
    background-color: white;
    display: inline-block;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid grey;
    padding-bottom: 9px;
}



ul li {
    float: left;
    width: 45%;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    list-style-type: none;
    font-size: 15px;
}

.bold_name {
  text-transform: capitalize;
  width: 70%;
}

hr {
  width: 100%;
}

.modalUl {
  margin-right: 30px;
}

.modalUl li {
  text-transform: capitalize;
  width: 100%;
  margin-right: 50px;
  margin-top: 7px;
  margin-bottom: 15px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.propic {
  margin-left: -20px;
  width: 33%;
}

span {
  font-size: 12px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.clearfix:hover,
.clearfix:focus {

    cursor: pointer;
    background-color:rgb(226, 226, 226);
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    font-size: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 450px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }